/* app css stylesheet */

body {
	padding-top: 20px;
    padding-bottom: 20px;
}

#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.white-panel {
 	border: 1px solid #E1E1E1;
	position: absolute;
	background-color: #fff;
	padding: 10px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel .header {
  	background-color: #EEEEEE;
    margin: -10px;
    margin-bottom: 10px;
    padding: 6px;
    border-bottom: 1px solid #E1E1E1;
    font-weight: bold;
    text-align: center;
}

.white-panel h1 a {
  color: #A92733;
}
